/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('fonts/ProximaNova-Regular.eot');
	src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Regular.woff') format('woff'),
		url('fonts/ProximaNova-Regular.ttf') format('truetype'),
		url('fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('fonts/ProximaNova-Semibold.eot');
	src: url('fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Semibold.woff') format('woff'),
		url('fonts/ProximaNova-Semibold.ttf') format('truetype'),
		url('fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('fonts/ProximaNova-Bold.eot');
	src: url('fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Bold.woff') format('woff'),
		url('fonts/ProximaNova-Bold.ttf') format('truetype'),
		url('fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('fonts/ProximaNova-Light.eot');
	src: url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Light.woff') format('woff'),
		url('fonts/ProximaNova-Light.ttf') format('truetype'),
		url('fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('fonts/ProximaNova-Regular_1.eot');
	src: url('fonts/ProximaNova-Regular_1.eot?#iefix') format('embedded-opentype'),
		url('fonts/ProximaNova-Regular_1.woff') format('woff'),
		url('fonts/ProximaNova-Regular_1.ttf') format('truetype'),
		url('fonts/ProximaNova-Regular_1.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?72618168');
  src: url('fonts/fontello.eot?72618168#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff2?72618168') format('woff2'),
       url('fonts/fontello.woff?72618168') format('woff'),
       url('fonts/fontello.ttf?72618168') format('truetype'),
       url('fonts/fontello.svg?72618168#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.icon-twitter:before { content: '\e801'; }
.icon-facebook:before { content: '\e802'; }
.icon-instagram:before { content: '\e803'; }


.wrapper {
	background-color: #fff;
	box-sizing: border-box;
	color: #fff;
	font-family: "Proxima Nova Rg";
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	max-width: 1900px;
	min-width: 320px;
}
header, footer {
	width: 100%;
	height: 960px;
}
header {
	background: url("images/football.jpg") no-repeat 50% 50% #0a0e34;
}
footer {
	background: url("images/stadium.jpg") no-repeat 50% 50% #0a0e34;
	background-size: auto 100%;
	position: relative;
}
.header {
	padding: 5% 10% 0 10%;
	margin: 0 auto;
}
.footer {
	box-sizing: border-box;
	height: 170px;
	width: 100%;
	background-color: #0a0e34;
	background-color: rgba(10,14,52, .6);
	position: absolute;
	bottom: 0;
	padding: 70px 50px;
}
.clearfix:after{
    content:'';
    clear: both;
    display: table;
}
.logo {
	float: left;
	width: 200px;
	height: 45px;
	background: url("images/logo.png") no-repeat 50% 50%;
}
.label {
	float: right;
}
.button {
	display: inline-block;
	box-sizing: border-box;
	background-color: #5e42b0;
	height: 77px;
	min-width: 310px;
	border-radius: 50px;
	box-shadow: 0 20px 20px #0b0f34;
	margin: 3%;
	padding: 25px 0 0 80px;
}
.button_panel {
	margin-top: 10%;
	padding-left: 25%;
}
.caption {
	margin-top: 16%;
	padding: 0 3%;
}
.first-part {
	position: relative;
	z-index: 3;
}
h1.second-part {
	position: relative;
	z-index: 1;
	margin-left: 25%;
}
h2.second-part {
	position: relative;
	z-index: 3;
	
}
.line {
	border: 4px solid #5e42b0;
	width: 420px;
	height: 0;
	transform: rotate(-50deg);
	border-radius: 50px;
	margin: 0;
}
.line-position {
	position: relative;
	margin-left: 15%;
	z-index: 2;
}
.navigation {
	padding-left: 57%;
	list-style: none;
}
.navigation li {
	display: inline-block;
	margin-left: 6%;
}
.icon_apple {
	background: url("images/icon-apple.png") no-repeat 10% 50% #5e42b0;
}
.icon_google_play {
	background: url("images/icon-google_play.png") no-repeat 10% 50% #5e42b0;
}
.social-icon {
	margin-left: 35%;
	float: left;
}
.icon-logo {
	width: 130px;
	height: 135px;
	background: url("images/icon-logo.png") no-repeat 50% 50% #6f4ace;
	background-size: 100%;
	border-radius: 30px;
	float: left;
	margin-right: 2%;
}
.footer-caption {
	padding: 15% 20% 8%;
	margin: 0;
}
footer .button_panel {
	margin-top: 0;
}
.left-line {
	width: 230px;
}
.right-line {
	width: 350px;
}
.left-line.line-position {
	right: 30px;
	bottom: 25px;
}
 .right-line.line-position {
	left: 320px;
	bottom: 25px;
}
/********Настройка оформления**********/
a.label, .navigation a, a.button p {
	font-family: "Proxima Nova Lt";
	font-weight: 300;
	/*line-height: 34.49px;*/
	letter-spacing: .05em;
	text-transform: uppercase;
}
a.label, .icon-twitter, .icon-facebook, .icon-instagram {
	line-height: 2.46em;
	text-decoration: none;
	color: #fff;
}
.navigation a {
	color: #9071ea;
	text-decoration: none;
}
.navigation a:hover {
	color: #fff;
}
a.button {
	color: #fff;
	text-decoration: none;
	text-align:left;
}
p span {
	font-weight: 600;
}
.first-part, .second-part {
	font-weight: bold;
	font-size: 6.43em;
	line-height: .89em;
	letter-spacing: .05em;
	text-transform: uppercase;
	text-align: left;
}
h2.second-part {
	color: #a496ca;
	font-size: 2.57em;
}
.icon-twitter, .icon-facebook, .icon-instagram {
	font-size: 20px;
}
.footer a.label {
	text-transform: capitalize;
}

/****** Медиа запросы **********/
@media all and (max-width: 768px) {
/****************Шапка и футер*************/
	.header {
		padding: 5% 2%;
		background-size: cover;
	}
	.caption {
		margin-top: 21%;
	}
	.line {
		width: 380px;
		border: 3px solid #5e42b0;
	}
	.line-position {
		z-index: 0;
		top: 35px;
	}
	.navigation {
		padding: 0;
		margin-top: 22%;
		font-size: 1.14em;
	}
	h1.first-part, h1.second-part {
		font-size: 4.57em;
	}
	h1.second-part {
		line-height: 1.2em;
	}
	.button {
		margin: 1%;
	}
	.button_panel {
		padding-left: 5%;
	}
	.footer-caption {
		padding: 15% 0 8%;
	}
	.icon-logo {
		float: none;
		display: block;
		margin: 0 auto;
	}
	footer .button_panel {
		margin-top: 20%;
	}
	.footer {
		height: 90px;
		padding:0;
	}
	.footer .logo, .footer .label {
		display: none;
	}
	.social-icon {
		margin-left: 40%;
	}
	.icon-twitter, .icon-facebook, .icon-instagram {
	font-size: 36px;
	}
	.footer-caption .first-part {
		margin-left: 15%;
		margin-top: 15%;
	}
	.footer-caption .second-part {
		margin-left: 7%;
		letter-spacing: 0;
	}
	.left-line {
	width: 150px;
	}
	.right-line {
		width: 280px;
	}
	.left-line.line-position {
		right: 15px;
		top: -15px;
	}
	 .right-line.line-position {
		left: 200px;
		top: -15px;
	}
	/********Основное содержимое**************/
}
@media all and (max-width: 320px) {
	/****************Шапка и футер*************/
	header, footer {
		height: 570px;
		background-size: cover;
		position: relative;
	}
	.logo {
		display: block;
		width: 140px;
		height: 20px;
		background-size: auto 100%;
		margin: 20px 25%;
	}
	.label {
		display: none;
	}
	.caption {
		margin-top: 120px;
	}
	h1.first-part {
		margin-bottom: 10px;
	}
	h1.second-part {
		margin-left: 10%
		/*line-height: .6em;*/
	}
	h1.first-part, h1.second-part {
		font-size: 2.28em;
	}
	.line {
		width: 220px;
		border: 2px solid #5e42b0;
	}
	.line-position {
		z-index: 0;
		top: 20px;
	}
	.button {
		height: 40px;
		min-width: 140px;
		margin: 1%;
		padding: 10px 0 0 40px;
	}
	a.button p {
		font-size: .67em;
	}
	.button_panel {
		margin-top: 30%;
		padding-left: 0;
	}
	.icon_apple, .icon_google_play {
		background-size: 20px auto;
	}
	.navigation {
		position: absolute;
		bottom: 20px;
		font-size: .86em;
		padding-left: 0;
	}
	.navigation li {
		margin-left: 8%;
		margin-top: 1.5%;
	}
	.navigation li:nth-child(4), li:last-child {
		margin-left: 15%;
	}
	.footer {
		height: 50px;
		padding: 0;
	}
	.footer .logo, .footer .label {
		display: none;
	}
	.icon-twitter, .icon-facebook, .icon-instagram {
	font-size: 15px;
	}
	.footer-caption {
		padding-left: 0;
		margin-bottom: 20%;
	}
	.icon-logo {
		float: none;
		display: block;
		margin: 15% auto;
		height: 80px;
		width: 75px;
		border-radius: 15px;
	}
	.footer-caption .first-part {
		margin: 0 5%;
	}
	h2.second-part {
		font-size: 1.07em;
		margin: 0 1%;
	}
	.left-line {
	width: 90px;
	}
	.right-line {
		width: 130px;
	}
	.left-line.line-position {
		right: 45px;
		top: -10px;
	}
	 .right-line.line-position {
		left: 70px;
		top: -10px;
	}
	/********Основное содержимое**************/
}
